<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Node Chat Applocation Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Mannatthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <link href="assets/plugins/morris/morris.css" rel="stylesheet">

        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">

    </head>
<!-- user data in session here -->
<% user_session.forEach(function(data){ %>
    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
              <% include left_header.ejs %>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <% include top_header.ejs %>

          <div class="page-content-wrapper ">

              <div class="container-fluid">

                  <div class="row">
                      <div class="col-sm-12">
                          <div class="page-title-box">
                              <h4 class="page-title">Change password</h4>
                          </div>
                      </div>
                  </div>


        <!-- middle page data -->
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                          <div id='msg_' style='color: red; padding: 10px 0;'></div>

                                <span class=" mdi mdi-eye show_pass" style="cursor: pointer"> Show Password</span>
                                <span class=" mdi mdi-eye-off hide_pass" style="cursor: pointer; display: none"> Hide Password</span>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="o_password">Old Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="o_password" name="o_password" placeholder="Enter Old Password">
                                </div>
                                <div class="error_class"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="n_password">New Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="n_password" name="n_password" placeholder="Enter New Password">
                                </div>
                                <div class="error_class"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="r_password">Re-type Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="r_password" name="r_password" placeholder="Enter Old Password">
                                </div>
                                <div class="error_class"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <input type="hidden" name="user_id" id="user_id" value="<%= data.user_id %>" >
                                    <input type="submit" name="U_password" id="change_pass_form" onclick="change_password_update()" class="btn btn-success" value="UPDATE Password" >
                                </div>
                            </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div>
<!-- </section> -->
<!-- middle page data -->
</div><!-- container -->
</div> <!-- Page content Wrapper -->
</div> <!-- content -->

<% include script_footer.ejs %>

<script type="text/javascript">
  function change_password_update(){
    var o_password = $('#o_password').val();
    var n_password = $('#n_password').val();
    var r_password = $('#r_password').val();
    var user_id = $('#user_id').val();

    // FormData is suppoted in node js.
    var data_d = new FormData();
    data_d.append('o_password',o_password);
    data_d.append('n_password',n_password);
    data_d.append('r_password',r_password);
    data_d.append('user_id',user_id);

    if(o_password != '' && n_password != '' && r_password!=''){
      $.ajax({
          url: 'http://localhost:2005/change_password_update',
          type: 'POST',
          data: data_d,
          processData: false,
          contentType: false,
          success: function (result) {
              // console.log(result);
              if(result == true){
                window.location.href="/dashboard";
              } else {
                $('#msg_').html('');
                $('#msg_').append(result);
                setTimeout(function(){
                  $('#msg_').fadeOut("slow");
                },2000);
              }
          }
      });
    } else {
      $('#msg_').append("All filed are required.");
      setTimeout(function(){
        $('#msg_').hide();
      },2000);
    }
  }

</script>

</body>

<!-- user data session end here -->
<% }); %>
</html>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $('.show_pass').click(function () {
           $('#o_password').attr('type','text');
           $('#n_password').attr('type','text');
           $('#r_password').attr('type','text');
           $('.hide_pass').attr('style','display:block;cursor:pointer');
           $('.show_pass').attr('style','display:none;cursor:pointer');
       });
        $('.hide_pass').click(function () {
            $('#o_password').attr('type','password');
            $('#n_password').attr('type','password');
            $('#r_password').attr('type','password');
            $('.show_pass').attr('style','display:block;cursor:pointer');
            $('.hide_pass').attr('style','display:none;cursor:pointer');
        });
    });
</script>
</html>
