<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><?php echo $title;?></title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/admin/images/favicon.ico">

    <link href="assets/admin/plugins/morris/morris.css" rel="stylesheet">

    <link href="assets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/animation-style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">


</head>


<body class="fixed-left">

<!-- Loader -->
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>

<!-- Begin page -->
<div id="wrapper">

<!-- get user name here -->
<?php
$user_name = $this->db->where('register_id', $this->session->userdata('user_id'))->select('*')->get('register')->result_array();
?>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
            <i class="ion-close"></i>
        </button>

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="dashboard" class="logo"><img src="assets/admin/images/users/<?php echo $this->session->userdata('user_photo');?>" style="max-width: 15%;" alt="user" class="rounded-circle"><?php echo $user_name[0]['username']; ?></a>
            </div>
        </div>
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>

                    <li id="login_user">
                        <a href="dashboard" class="waves-effect">
                            <i class="mdi mdi-airplay"></i>
                            <span> Chat <span class="badge badge-pill badge-primary float-right">0</span></span>
                        </a>
                    </li>
                    <div id="live">
                    <?php
                    $sql = $this->db->where('login_status','1')->where('register_id !=', $this->session->userdata('user_id'))->order_by('register_id','desc')->select()->get('register')->result_array();
                    foreach ($sql as $data_sql){ ?>
                        <li style="padding: 15px; padding-left: 25px;"><a class="abcd" href="javascript:void(0);" onclick="user_chat('<?php echo $data_sql['register_id'] ?>')"> <img src="assets/admin/images/users/<?php echo $data_sql['photo'] ?>" style="max-width: 15%; border-radius:15%" alt="no found"> <?php echo $data_sql['username'] ?> </a></li>
                    <?php } ?>
                    </div>
                    <div id="live_user"></div>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <!-- Top Bar Start -->
            <div class="topbar">

                <nav class="navbar-custom">

                    <ul class="list-inline float-right mb-0">
                        <!-- language-->
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">

                                <img src="<?php echo base_url(); ?>assets/admin/images/users/<?php echo $this->session->userdata('user_photo');?>" alt="user" title="<?php echo $user_name[0]['username']; ?>" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5>Welcome</h5>
                                </div>
                                <a class="dropdown-item" href="profile"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                                <a class="dropdown-item" href="change_password"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Authentication</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="logout"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                            </div>
                        </li>

                    </ul>

                    <div class="clearfix"></div>

                </nav>

            </div>
            <!-- Top Bar End -->

            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Annex</a></li>
                                        <li class="breadcrumb-item active"><?php echo $title;?></li>
                                    </ol>
                                </div>
                                <h4 class="page-title"><?php echo $title;?></h4>
                            </div>
                        </div>
                    </div>

                <?php $this->load->view($middle); ?>


            </div> <!-- Page content Wrapper -->

        </div> <!-- content -->

        <footer class="footer">
            © 2018 Power by Om Dev Group.
        </footer>

    </div>
    <!-- End Right content here -->

</div>
<!-- END wrapper -->


<!-- jQuery  -->

<?php $this->load->view('chat/all_script.php'); ?>
<script type="text/javascript">
    setTimeout(function () {
        $('#msg_').html('');
        $('#msg_e').html('');
    },3000);
</script>
<script>
    /* BEGIN SVG WEATHER ICON */
    if (typeof Skycons !== 'undefined'){
        var icons = new Skycons(
            {"color": "#fff"},
            {"resizeClear": true}
            ),
            list  = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
            ],
            i;

        for(i = list.length; i--; )
            icons.set(list[i], list[i]);
        icons.play();
    };

    // scroll

    $(document).ready(function() {

        $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#cecece",boxzoom:true});
        $("#boxscroll2").niceScroll({cursorborder:"",cursorcolor:"#cecece",boxzoom:true});

    });
</script>

</body>
</html>
