<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Chat log_in page</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>


<body class="fixed-left">

<div class="accountbg"></div>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center mt-0 m-b-15">
                <a href="javascript:void(0);" class="logo logo-admin">LogIn</a>
            </h3>

            <div class="p-3">
                <span style="color:red;" class="error"><% if(error_msg) { %> <%= error_msg; %> <% } %></span>
                <form class="form-horizontal m-t-20" action="http://localhost:2005/verify_login" method="post" >
                    <label class="control-label col-sm-12" for="name" style="padding: 0px">Username:</label>
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" id="name" name='username' type="text" required="" placeholder="Username">
                        </div>
                    </div>
                    <label class="control-label col-sm-12" for="name" style="padding: 0px">Password:</label>
                    <span class=" mdi mdi-eye show_pass" style="cursor: pointer"> Show Password</span>
                    <span class=" mdi mdi-eye-off hide_pass" style="cursor: pointer; display: none"> Hide Password</span>
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="password" id="pass" name="password" required="" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-success btn-block waves-effect waves-light" id="login_id" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <a href="http://localhost:2005/register" class="btn btn-danger btn-block waves-effect waves-light">Register</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    setTimeout(function(){
        $('.error').hide();
    },3000);
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.show_pass').click(function () {
            $('#pass').attr('type','text');
            $('.hide_pass').attr('style','display:block;cursor:pointer');
            $('.show_pass').attr('style','display:none;cursor:pointer');
        });
        $('.hide_pass').click(function () {
            $('#pass').attr('type','password');
            $('.show_pass').attr('style','display:block;cursor:pointer');
            $('.hide_pass').attr('style','display:none;cursor:pointer');
        });
    });
</script>
</html>
